[application]
fetch_method=git
environment=production

[git]
repository=http://git.example.com/myapp.git
revision=master

[bootstrap]
source=http://some-bucket/vortex/vortex-0.0.1-py2.7.egg
;entry=vortex:stage2
